body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f4f4f4;
}

.social-icons a {
    margin-left: 15px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 120px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav-icons a {
    margin-left: 15px;
}

.nav-icons img {
    width: 24px;
    height: 24px;
}

.customer-support {
    background-color: #ffcc4d;
    text-align: center;
    padding: 10px 0;
}

.customer-support p {
    margin: 0;
    color: #0033cc;
    font-weight: bold;
}

main {
    padding: 20px;
}

.contact-info,
.newsletter {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer ul li {
    margin: 5px 15px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.product-container {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #2c2b2b;
}

.product-container img {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.info {
    margin-left: 50px; 
}

.name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;    
}

.original {
    text-decoration: none;
    color: #d32f2f;
}

.specifications {
    margin-top: 6px;
    margin-left:0px;
}

.specifications h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 1px;

}

.specifications ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.specifications ul li {
    margin-bottom: 8px;
}

button {
    padding: 10px 10px;
    border: none;
    border-radius:5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-left:5px;
    display: inline-block;
    width: 180px;
}

.addtocart {
    background-color: #ffcc4d;
    color: #0033cc;
}

.buynow {
    background-color: #333;
}
